{% extends 'tienda/base.html' %}
{% block content %}
    <h1>Informes</h1>
    <form action="{% url 'tienda:informe' %}" method="get">

        <select name="menu">
          <option value="" selected></option>
            {% for marca in marcas %}
              <option value="{{ marca.nombre }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
    <table>
            <tr>
                <th>{{ menu }}</th>
            </tr>
            {% for product in productos %}
                {% if menu is Nonetype %}
                     <tr>
                        <th>{{ product.marca }}</th>
                     </tr>
                {% endif %}
                <tr>
                    <td>{{ product.nombre }}</td>
                </tr>
                <tr>
                    <td>{{ product.modelo }}</td>
                </tr>
                <tr>
                    <td>{{ product.detalles }}</td>
                </tr>
                <tr>
                    <td>{{ product.precio }} €</td>
                </tr>
                <tr>
                    <td>{{ product.unidades }}</td>
                </tr>

            {% endfor %}


    </table>
    <table>

    {% for venta in ventas %}
        <tr>
            <td>{{ venta.producto }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.unidades }}</td>
            <td>{{ venta.importe }}</td>
            <td>{{ venta.nombre_usuario }}</td>
        </tr>
    {% endfor %}

    </table>


    <form action="{% url 'tienda:informe' %}" method="post">
    {% csrf_token %}

        <select name="usuario">
          <option value="" selected></option>
            {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
    <table>
        <tr>
            <th>{{ eleccion }}</th>
        </tr>
        {% for product in usuario_compras %}

                <tr>
                    <td>{{ product.producto }}</td>
                </tr>
                <tr>
                    <td>{{ product.fecha }}</td>
                </tr>
                <tr>
                    <td>{{ product.unidades }}</td>
                </tr>
                <tr>
                    <td>{{ product.importe }} €</td>
                </tr>


        {% endfor %}
    </table>
    <table>
        {% for top_producto in top_productos %}
            {% for producto in productos %}
                {% if producto.id == top_producto.id %}
                    <h1>{{ producto.nombre }}</h1>
                {% endif %}

            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
