{% extends 'tienda/base.html' %}
{% block content %}
    <style>
        .titulo{
            text-align: center;
        }
        table{

        }
        td{
            padding-left: 50px;
            text-align: center;
            padding-bottom: 30px;
        }
        .enlace{
            cursor: pointer;
            padding: 14px;
            text-decoration: none;
            color: black;
        }
    </style>

    <h1 class="titulo">Listado</h1>
    <table style="margin: 0 auto; font-size: 30px; margin-bottom: 50px; border-bottom: 3px solid #bdc2c6;">
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Unidades</td>
            <td>Precio</td>
            <td>Detalles</td>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.nombre }}</td>
                <td>{{ post.marca }}</td>
                <td>{{ post.modelo }}</td>
                <td>{{ post.unidades }}</td>
                <td>{{ post.precio }} €</td>
                <td>{{ post.detalles }}</td>
                <td><a class="enlace" style=" background-color:#2fff2f;" href="{% url 'tienda:editar' pk=post.id %}">EDITAR</a></td>
                <td><a class="enlace"style=" background-color:#ff5151;" href="{% url 'tienda:eliminar' pk=post.id %}">BORRAR </a></td>
            </tr>

        {% endfor %}
    </table>
    <a class="enlace" style=" background-color:#ffcb94;" href="{% url 'tienda:welcome' %}">VOLVER</a>
    <a class="enlace" style=" background-color:#51beff;" href="{% url 'tienda:nuevo' %}">NUEVO</a>

{% endblock %}
