<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Nuevo Producto</title>
        <style>
        a{
            cursor: pointer;
            padding: 15px;
            text-decoration: none;
            color: black;
        }
        th{
            padding-left: 50px;
            text-align: center;
            padding-bottom: 30px;

        }
        td{
            padding-left: 50px;
            text-align: center;
            padding-bottom: 30px;
        }
    </style>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center">
        <div>
            <form action="{% url 'tienda:nuevo' %} " method="POST">
            {% csrf_token %}

                {% for campo in formulario %}
                    <h1>{{ campo.label }}</h1>

                    {% for error in campo.errors %}
                            <p style="color: red">{{ error }}</p>
                    {% endfor %}

                    <input
                            name="{{ campo.name }}"
                            type="{{ campo.field.widget.input_type }}"
                            placeholder="{{ campo.label }}"
                            id="{{ campo.name }}"
                            style="height: 50px; width: 400px; font-size: 20px"
                            value="{{ campo.value }}"
                            step="any">


                {% endfor %}

                <br>
                <input style="height: 50px; width: 400px; font-size: 20px; background-color: aqua; cursor: pointer" type="submit" value="CREAR NUEVO PRODUCTO">
                <a style=" background-color:#ffcb94;" href="{% url 'tienda:listado' %}">VOLVER</a>
            </form>
        </div>
        <div style="margin: 20px; margin-left: 70px">
            <table style="margin: 0 auto; font-size: 30px; border-left: 10px solid aliceblue">
                <th>Lista de Marcas</th>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
