{% extends 'tienda/base.html' %}
{% block content %}

<form action="{% url 'tienda:compras_usuario' %}" method="post">
    {% csrf_token %}

        <select name="usuario">
          <option value="" selected></option>
            {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
    <table>
        <tr>
            <th>{{ eleccion }}</th>
        </tr>
        {% for product in usuario_compras %}
            {% for user in users2 %}
                {% if user.id == product.nombre_usuario_id %}
                <tr>
                    <td>{{ product.producto }}</td>
                </tr>
                <tr>
                    <td>{{ product.fecha }}</td>
                </tr>
                <tr>
                    <td>{{ product.unidades }}</td>
                </tr>
                <tr>
                    <td>{{ product.importe }} €</td>
                </tr>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </table>


{% endblock %}
