<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'tienda:marc_product' %}" method="get">

        <select name="menu">
          <option value="" selected></option>
            {% for marca in marcas %}
              <option value="{{ marca.nombre }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
    <table border="3">

            {% for product in productos %}

                     <tr>
                        <th>{{ product.marca }}</th>
                     </tr>

                <tr>
                    <td>{{ product.nombre }}</td>
                </tr>
                <tr>
                    <td>{{ product.modelo }}</td>
                </tr>
                <tr>
                    <td>{{ product.detalles }}</td>
                </tr>
                <tr>
                    <td>{{ product.precio }} €</td>
                </tr>
                <tr>
                    <td>{{ product.unidades }}</td>
                </tr>

            {% endfor %}


    </table>
</body>
</html>
