{% extends 'tienda/base.html' %}


{% block content %}
    <style>
         button{
            cursor: pointer;
            padding: 14px;
            text-decoration: none;
            color: black;
            background-color:#2fff2f;
        }
         input{
             padding: 8px;
             font-size: 25px;
             width: 90px;
             border: none;

         }
         li{
             list-style: none;
             font-size: 30px;
         }
    </style>

    <h1>Información del producto</h1>
    <form action='' method="post">
        {% csrf_token %}

            <ul>
                <li>Nombre: {{ post.nombre }}</li>
                <li>Marca: {{ post.marca }}</li>
                <li>Modelo: {{ post.modelo }}</li>
                <li>Unidades Disponibles: {{ post.unidades }}</li>
                <li>Precio: {{ post.precio }} € </li>
                <li>Detalles: {{ post.detalles }}</li>
                <li><input type="number" value="1" name="cantidad"></li>
                <li><button type="submit">COMPRAR </button></li>
            </ul>
    </form>
    {% if valor is False %}
        <h1>No hay suficiente stock</h1>
    {% endif %}
    <a style=" background-color:#ffcb94;" href="{% url 'tienda:compras' %}">VOLVER</a>

{% endblock %}