{% extends 'tienda/base.html' %}

{% block content %}
        <style>
        .titulo{
            text-align: center;
        }
        table{

        }
        td{
            padding-left: 25px;
            text-align: center;
            padding-bottom: 15px;
        }
        .enlace{
            cursor: pointer;
            padding: 14px;
            text-decoration: none;
            color: black;
        }
    </style>
    <h1 class="titulo">PAGINA COMPRA</h1>

    <form action="{% url 'tienda:compras' %}" method="get">
        <input type="text" placeholder="Buscar...." name="buscar">
        <input type="submit">
    </form>

        <h1 class="titulo">Lista de productos</h1>
        <table style="margin: 0 auto; font-size: 30px; margin-bottom: 50px; border-bottom: 3px solid #bdc2c6;">
            <tr>

                <td>Nombre</td>

                <td>Modelo</td>

                <td>Precio</td>

            </tr>
            {% for post in posts %}
                <tr>

                    <td>{{ post.nombre }}</td>

                    <td>{{ post.modelo }}</td>

                    <td>{{ post.precio }} € </td>

                    <td><a class="enlace" href="{% url 'tienda:checkout' id=post.id %}" style=" background-color:#2fff2f;">Carrito</a></td>
                </tr>

            {% endfor %}
        </table>
        {% if valor is True %}
            <h1>Compra realizada exitosamente</h1>
        {% elif valor is False %}
            <h1>No hay suficiente stock</h1>
        {% endif %}
    <a class="enlace" style=" background-color:#ffcb94;" href="{% url 'tienda:welcome' %}">VOLVER</a>
{% endblock %}